{% extends "base_web.html" %}
{% load static %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <div class="alert alert-{{ message.tags }} alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% endif %} <strong>{{ message }}</strong>
        </div>
        {% endfor %}
    {% endif %}


    <div class="x_panel">
        <div class="x_title">
            <h2>Nueva boleta
                <small>llenar los campos (el folio es correlativo)</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            <form id="EmisionBoleta" data-parsley-validate="" class="form-horizontal form-label-left" method="post">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3" for="id_folio">Folio <span
                            class="required">*</span>
                    </label>
                    <div class="col-md-1 col-sm-1 col-xs-2">
                        <input type="text" id="folio" name="folio" required="required" class="form-control col-md-3 col-xs-3" value="{{ proximo_folio }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fecha_emision">Fecha Emison <span
                            class="required">*</span>
                    </label>
                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <input type="text" id="fecha_emision" name="fecha_emision" required="required"
                               class="form-control col-md-3 col-xs-6 calendar_single">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cliente_nombre" class="control-label col-md-3 col-sm-3 col-xs-12">Cliente<span
                            class="required">*</span></label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <input id="cliente_nombre" class="form-control col-md-7 col-xs-12" type="text" name="cliente_nombre">
                        <input id="cliente_rut" type="hidden" name="cliente_rut">
                    </div>
                </div>
                <div class="form-group">
                    <label for="comentario" class="control-label col-md-3 col-sm-3 col-xs-12">Comentario</label>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <textarea id="comentario" class="form-control col-md-7 col-xs-12"  name="comentario"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Impuesto
                    </label>
                    <div class="checkbox col-md-3 col-sm-3 col-xs-4">
                         <input id="ckRetenido" name="ckRetenido" class="form-control col-md-3 col-xs-4" onchange="checkeaMonto();" type="checkbox" data-toggle="toggle" data-on="Retenido"
                       data-off="No retenido" data-size="small">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Monto neto<span
                            class="required">*</span>
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-4">
                        <input id="monto_neto" name="monto_neto" class="form-control col-md-3 col-xs-4" onchange="montoNeto(this.value);" required="required"
                               type="number">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Monto Total
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-4">
                        <input id="monto_total" name="monto_total" class="form-control col-md-3 col-xs-4" disabled
                               type="number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Pago
                    </label>
                    <div class="checkbox col-md-3 col-sm-3 col-xs-4">
                         <input id="ckPagado" name="ckPagado" class="form-control col-md-3 col-xs-4" onchange="checkeaPago();" type="checkbox" data-toggle="toggle" data-on="Pagado"
                       data-off="No Pagado" data-size="small">
                    </div>
                </div>
                <div id="pagos-div">
                </div>
                <div class="form-group">
                <br><br>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button class="btn btn-primary" type="button">Cancelar</button>
                        <button class="btn btn-primary" type="reset">Limpiar</button>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </div>

            </form>


        </div>
    </div>


{% endblock %}
{% block footerScripts %}
    <script src="{% static 'vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js' %}"></script>
    <link href="{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/emitirboleta.js' %}"></script>
{% endblock %}